*,
*::before,
*::after{box-sizing:border-box;}

/* ## Colors

### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */

.page {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 100%;
}

.title, .copy {
  text-align: center;
}

.copy {
  color: hsl(201, 11%, 66%);
}

.link {
  text-decoration: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.colors {
  background: hsl(171, 66%, 44%);
  background: hsl(233, 100%, 69%);
  background: hsl(210, 10%, 33%);
  background: hsl(201, 11%, 66%);
  
}

/* start page__content */
/* start article - hero */
.hero {
  background: url('../img/bg-header-mobile.png') no-repeat;
}

.wrapper--hero {

  margin-bottom: 140px;
}

.img--hero {
  padding-top: 123px;
  margin-bottom: 39px;
  width: 125px;
}

.title--hero {
  font-size: 1.9375rem;
  width: 86%;
  margin-bottom: 1px;
}

.copy--hero {
  font-size: 1.0625rem;
  letter-spacing: -.34px;
  line-height: 1.51;
  width: 89%;
  margin-bottom: 49px;
}

.group--button {
  display: flex;
  flex-direction: column;
}

.link--btn {
  font-weight: 600;
  color: rgb(255,255,255);
  letter-spacing: .4px;
  padding: 16px 78px;
  border-radius: 50px;
  box-shadow: inset 0 -2px 1px 2px rgba(0,0,0,.2);
}

.btn--ios {
  background: hsl(171, 66%, 44%);
  margin-bottom: 25px;
}

.btn--windows {
  background: hsl(233, 100%, 69%)
}
/* end article - hero */
/* start article - snippets */
.wrapper--snippets {
  margin-bottom: 49px;
}

.title--snippets {
  margin-bottom: 1px;
}

.copy--snippets {
  font-size: .9375rem;
  letter-spacing: .6px;
  line-height: 1.74;
  width: 91%;
}
/* end article - snippets */
/* start article - search */
.wrapper--search {
  margin-bottom: 140px;
}

.img--search {
  width: 89%;
  margin-bottom: 35px;
}

.title--search {
  font-size: 1.4375rem;
  margin-bottom: 0;
}

.copy--search {
  font-size: 1rem;
  letter-spacing: .1px;
  line-height: 1.64;
  width: 84%;
  margin: 10px 0 25px 0;
}
/* end article - search */
/* start article - access */
.wrapper--access {
  margin-bottom: 75px;
}
.title--access {
  margin-bottom: 2px;
}

.copy--access {
  font-size: .9375rem;
  letter-spacing: .58px;
  line-height: 1.73;
  width: 88%;
  margin-bottom: 60px;
}

.img--access {
  width: 98%;
}
/* end article - access */
/* start article - workflow */
.wrapper--workflow {
  margin-bottom: 75px;
}

.title--workflow {
  width: 98%;
  margin-bottom: -1px;
}

.copy--workflow {
  font-size: .9375rem;
  letter-spacing: .58px;
  line-height: 1.7;
  width: 88%;
  margin-bottom: 90px;
}

.img--workflow {
  width: 45px;
  margin-bottom: 17px;
}

.title--workflow-sub {
  font-size: 1.4375rem;
  margin-bottom: 3px;
}

.copy--workflow-sub {
  font-size: 1rem;
  letter-spacing: .1px;
  line-height: 1.6;
  width: 90%;
  margin-bottom: 56px;
}

.img--text {
  width: 37px;
  margin-bottom: 21px;
}

.img--eye {
  width: 50px;
  margin-bottom: 23px;
}
/* end article - workflow */
/* start article - brand-block */
.wrapper--brand-block {
  margin-bottom: 148px;
}

.img--brand-block {
  width: 136px;
  margin-bottom: 66px;
}

.img--b {
  width: 120px;
  margin-bottom: 68px;
}

.img--c {
  width: 136px;
  margin-bottom: 63px;
}

.img--d {
  width: 116px;
  margin-bottom: 55px;
}

.img--e {
  width: 104px;
  margin-bottom: 0;
}
/* end article - brand-block */
/* start article - clipboard */
.wrapper--clipboard {
  margin-bottom: 170px;
}
.title--clipboard {
  width: 90%;
  margin-bottom: 0;
}

.copy--clipboard {
  font-size: 1rem;
  letter-spacing: .1px;
  line-height: 1.63;
  width: 88%;
  margin-bottom: 48px;
}
/* end article - clipboard */
/* end page__content */
/* start page__footer */
.page__footer {
  background: hsl(220, 18%, 97%);
}

.img--footer {
  margin: 53px 0 43px 0;
  width: 55px;
}

.menu__item {
  margin-bottom: 27px;
  text-align: center;
}

.menu__link {
  color: hsl(210, 10%, 33%);
}

.menu--social {
  display: flex;
  margin-top: 22px;
}

.menu--social .menu__item {
  filter: invert(27%) sepia(6%) saturate(1081%) hue-rotate(164deg) brightness(96%) contrast(84%);
  margin: 0 20px;
}
.menu--social .menu__link {
  width: 24px;
  display: inline-block;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* end page__footer */


/* start article - snippets */
/* end article - snippets */